{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!
{% endblock %}

{% block body %}
	<style>
	
	</style>

	<!-- Section about  -->
	<section id="abou">

		<div class="about">

			<h2 class="titre2">
				About</h2>

			<p class="phrase">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis harum enim eligendi
				                eum amet, saepe repudiandae temporibus? Nemo harum nostrum veritatis, soluta aperiam quae veniam minima
				                dolore saepe, consectetur deserunt culpa explicabo natus numquam. Esse, qui amet perspiciatis neque
				                minus asperiores dolorum. Dolores quis accusamus commodi quos, aliquam, iure expedita dicta molestias
				                quisquam quibusdam, ducimus adipisci earum voluptatum accusantium! Et explicabo distinctio odit quas,
				                vel, veritatis voluptas quisquam perferendis facere iusto minima doloribus perspiciatis! Iusto repellat
				                facere quis enim pariatur ab laudantium accusamus quaerat consequuntur consequatur aspernatur aliquam
				                amet sint, temporibus quod, sit explicabo veritatis ut! Iste recusandae quos molestias.</p>

			<div class="carte1">
				<img src=".." alt="">
				<h4>John Doe</h4>
				<h6>CEO & Founder</h6>
				<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
				<button>CONTACT</button>
			</div>

			<div class="carte2">
				<img src="maquette_archi\img\team1.jpg" alt="">
				<h4>Jane Doe</h4>
				<h6>Architect</h6>
				<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
				</p>
				<button>CONTACT</button>
			</div>

			<div class="carte3">
				<img src="maquette_archi\img\team3.jpg" alt="">
				<h4>Mike Boss</h4>
				<h6>Achitect</h6>
				<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
				<button>CONTACT</button>
			</div>

			<div class="carte4">
				<img src="maquette_archi\img\team4.jpg" alt="">
				<h4>Dan Star</h4>
				<h6>Dan Star</h6>
				<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
				<button>CONTACT</button>
			</div>


		</div>
	</section>
{% endblock %}
