@font-face {
    font-family: 'Amatic';
    src: url('./font/SEGOEUI.TTF');
}
/* @font-face {
    font-family: 'planetgam';
    src: url('/font/planetgam.otf');
} */
/* *{
    font-family: 'planetgam';
    margin: 0;
    padding: 0;
} */
*{
    padding: 0;
    margin: 0;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    list-style:none
}

.barrenavigation{
    padding-top: 1%;
    width: 100%;
    height: 5vh;
    font-size: 1em;
    background-color: white;
    position: fixed;
    z-index: 1111;
    box-shadow : 1px 1px 0.2em 0.2em black;
    
}
.barrenavigation a{
    color: black;
    border: none;
    text-decoration: none;
}
.logoheader{
    padding-left: 1vh;
    padding-right: 1vh;
   
    font-weight: 800;
    display: inline-block;
}


.pheader{
    margin-left: 1%;
    margin-right: 3.5%;
    width: 70%;
    display: inline-block;
   
}

nav{
    width: 20%;
    padding-left: 0.5%;
    display: inline-block;
}
.navigation{
    padding-right: 10%;
    width: 100%;
    display: inline-block;
    
}

.nav{
    margin-left: 5%;
    display: inline-block;
}

.imageetlogo{
    border: solid rgb(0, 0, 0);
    margin-left: 10%;
}

.imagetop{
    width: 100%;
    margin-left: 0.5%;
}
.logoheader2{
    font-size: 2em;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
}

.logoimg{
  
    display: inline-block;
    position: absolute;
    bottom: 50%;
    left: 40%;
    
}
.logoarchi{
    font-size: 2em;
    display: inline-block;
    position: absolute;
    color: white;
    bottom: 50%;
    left: 45%;
    
}

/* PARTIE PROJECTS */




.titreprojects{
    
    background-color: white;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 1%;
    margin-left: 0.5%;
    height: 50px;
    font-weight: 400;
}
.listeimg{
    width: 23%;
    margin-left: 1%;
    margin-bottom: 0.5%;
    display: inline-block;
    
}
.centerimg{
    text-align: center;
}
.listingimg{
  
    width: 100%;
   
    display: inline-block;
}
.etiquette{
    padding: 0.5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;

}


/* PARTIE ABOUT */


.titreabout{
    background-color: white;
    height: 50px;
    font-weight: 400;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 1%;
    margin-left: 1%;
}
#about{
    margin-bottom: 3%;
    margin-left: 1%;
}
.aboutcenterimg{
    text-align: center;
    
    
}

.listeperso{
    width: 23%;
   
    margin-left: 0.5%;
    display: inline-block;
}
.listepersoimg{
    width: 100%;
    
    display: inline-block;
}

.nomequipe{
    font-weight: 400;
    text-align: left;
}
.gradeequip{
    font-weight: 600;
    color: gray;
    font-size: 1em;
    text-align: left;
}
.descriptionequip{
   
    font-size: 0.8em;
    text-align: left;
}
.contactequipe{
    display: block;
    text-align: center;
    background-color: gray;
    
    
}

/* PARTIE CONTACT */



.titrecontact{
    background-color: white;
    height: 50px;
    font-weight: 400;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 1%;
}

#txtcontact{
font-size: 0.8em;
margin: 1%;
}

.formulaire{
    margin-left: 1%;
    display: block;
    width: 98%;
}

.bouttonsubmit{
    margin-left: 1%;
    background-color: black;
    color: white;
    padding: 0.5%;
}
.imgstreet{
    margin: 1%;
    width: 100%;

    
}



/* FOOTER */

footer{
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 5%;
    padding-top: 2%;
}
/* ************************************CSS ADRIEN *************************************** */

/* header  */

.ph1 , .ph2 , .ph3 , .ph4 , .ph5 , .ph6 , .ph7 , .ph8{
    position: relative;
    display: inline-block;
    width: 22%;
    margin-right: 1%;
    margin-bottom: 1%;
    
}
.tittle8{
font-size: 3em;
    position:absolute;
   top: 50%;
   left: 40%;
}
.tittle8 span{
    padding: 1%;
    font-size: 2em;
    background-color: gray;
    opacity: 0.80;
                         
}

.projet .ph1 img, .projet .ph2 img, .projet .ph3 img ,.projet .ph4 img ,.projet .ph5 img ,.projet .ph6 img ,.projet .ph7 img ,.projet .ph8 img{ 
    display: inline-block;
    width: 100%;
    
  
}
.projet{
    margin-left: 7%;
}
.titre1{
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
}.ph1 p ,.ph2 p ,.ph3 p ,.ph4 p ,.ph5 p ,.ph6 p ,.ph7 p ,.ph8 p{
    position: absolute;
    background-color: black;
    color: white;
    padding: 4px;
}
                                                /* Title */ 
.about , .titre2 , .contact {
margin-top: 1%;
margin-left: 3%;
margin-bottom: 1%;
}                                                
                                             /* About */

.phrase{
    display: inline-block;
    margin: 1%;
    padding: 1%;
    margin-bottom: 1%;
}

                                            /* About / carte */
.carte1 , .carte2 , .carte3 , .carte4{
    width: 19%;
  
    display: inline-block;  margin-left:  5%;
    border: 4px red;
}
.carte1 img , .carte2 img , .carte3 img , .carte4 img {
    width: 100%;
  
    display: inline-block;
    border: 4px red;
}
.about button{
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
}
                                        /* contact  */
.formulaire , input{
    width: 90%;
    height: 100%;
    margin-top: 1%;
}
.send , button{
    margin-top: 1%;
    height: 100%;
    width: 30%;
}

                                         /* footer  */

                /* version responsive smart  */
.projet img{
margin: 0;
padding: 0;
width: 100%;
border: 1px solid;
display: flex;
} 

                
