{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}


{% block body %}
<label for="form[name]">Name</label>
<input type="text" id="form_name" name="form[name]" required="required">


{{form_start(formulaire)}}
{{form_widget(formulaire)}}

<button type="submit">Send</button>
{{form_end(formulaire)}}





{% endblock %}
