<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">

	</head>
	<body>

		<header>
			<div class="barrenavigation">
				<p class="pheader">
					<strong class="logoheader">
						BR
					</strong>
					Architects</p>
				<nav>
					<ul class="navigation">
						<li class="nav">
							<a href="{{path('projects')}}">Projects</a>
						</li>
						<li class="nav">
							<a href="{{path('app_about')}}">About</a>
						</li>
						<li class="nav">
							<a href="{{path('app_contact')}}">Contact</a>
						</li>
					</ul>
				</nav>
				<img src="Logo" alt="">
			</div>
			<img src="" alt="">
			<div class="imagetop">
				<img src="assets/img/architect.jpg" alt="" class="imagetop">
				<p class="logoimg">
					<strong class="logoheader2">
						BR
					</strong>
				</p>
				<p class="logoarchi">Architects</p>
			</div>
			
		</header>
		{% block body %}
		 <section>
        <div>
            <h1 class="titreprojects">Projects</h1>
            <div class="centerimg">
            <div class="listeimg">
               <p class="etiquette"> Summer House</p>
               <img src="img/house5.jpg" alt="" class="listingimg">
            </div>
            <div class="listeimg">
                <p class="etiquette">Brick House</p>
                <img src="img/house2.jpg" alt="" class="listingimg">
            </div>
            <div class="listeimg">
                <p class="etiquette">Renovated</p>
                <img src="img/house3.jpg" alt="" class="listingimg">
            </div>
            <div class="listeimg">
                <p class="etiquette">Barn House</p>
                <img src="img/house4.jpg" alt="" class="listingimg">
            </div>
            <div class="listeimg">
                <p class="etiquette"> Summer House</p>
                <img src="img/house2.jpg" alt="" class="listingimg">
             </div>
             <div class="listeimg">
                 <p class="etiquette">Brick House</p>
                 <img src="img/house5.jpg" alt="" class="listingimg">
             </div>
             <div class="listeimg">
                 <p class="etiquette">Renovated</p>
                 <img src="img/house4.jpg" alt="" class="listingimg">
             </div>
             <div class="listeimg">
                 <p class="etiquette">Barn House</p>
                 <img src="img/house3.jpg" alt="" class="listingimg">
             </div>
            </div>
        </div>
		
		{% endblock %}
	</body>
</html>
